* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #c7c3c3;
    color: ghostwhite;
    padding-bottom: 15px;
}



.nav li, a {
    display: inline-block;
    margin: 10px 20px 0 50px; 
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 5px;
    text-decoration: none;
    color: #1d0c0f;
}

body {
    height: 120vh;
    background-color: #f8f8f8;
}

.rules {
    background-color: #e7aaaa;
    /* display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 500px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 50px;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}



.dicePosition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#diceImg, #diceImg2 {
display: block;
height: 10rem;
margin-bottom: 10px;
}

.dice, .dice2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#player1, #player2 {
    padding:50px;
    border-radius: 20px;
}

.score1, .player1, .score0, .player2, .scoreBoard-0, .scoreBoard-1 {
    font-size: 2rem;
}

.score0, .score1, .scoreBoard-0 , .scoreBoard-1 {
    text-align: center;
}



.button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover {
    opacity: 2;
    background-color: #e3e1e1;
    font-weight: 600px;
  }

.roll {
    background-color: #1282E4;
}

.new-game {
    background-color: #c7c3c3;
}

.end-turn {
    background-color: #ea7272;
}

.roll, .new-game, .end-turn, .hold {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.roll, .hold {
    padding-right: 40px; 
    padding-left: 40px; 
}

