* {
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #c7c3c3;
    color: ghostwhite;
    padding-bottom: 15px;
}



.nav li, a {
    display: inline-block;
    margin: 10px 20px 0 50px; 
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 5px;
    text-decoration: none;
    color: #1d0c0f;
}

body {
    height: 120vh;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 50px;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.dicePosition {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.dice, .dice2 {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
}

.score1, .player1, .score0, .player2 {
    font-size: 5rem;
}

.score0, .score1 {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 20px;
}

.roll {
    background-color: #1282E4;
}

.new-game {
    background-color: #c7c3c3;
}

.end-turn {
    background-color: #ea7272;
}

.roll, .new-game, .end-turn, .hold {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.roll, .hold {
    padding-right: 40px; 
    padding-left: 40px; 
}

